.container {
  position: relative;
  width: 430px;
  height: 100px;
  background: #fff;
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 18px;
  font-family: "Roboto", sans-serif;
  transition: 0.6s ease-out;

  &--expand {
    height: 590px;
  }
}
