.not-found {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  scale: 0;
  opacity: 0;
  display: none;

  &__img {
    width: 70%;

    &__description {
      color: #06283d;
      font-size: 22px;
      font-weight: 500;
      margin-top: 12px;
    }
  }
}

